{% extends 'layouts/base.html' %}

{% block title %} Settings {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block body_class %} g-sidenav-show bg-gray-100 {% endblock %}

{% block content %}

  

  <div class="container-fluid my-3 py-3">
  
    <div class="row mb-5">
      
      <div class="col-lg-9 mt-lg-0 mt-4">
        
        <!-- Card Basic Info -->
        <div class="card mt-4" id="basic-info">
          <div class="card-header">
            <h5>Basic Info</h5>
          </div>
          <div class="card-body pt-0">
            <div class="row">
              <div class="col-6">
                <label class="form-label">First Name</label>
                <div class="input-group">
                  <input id="firstName" name="firstName" class="form-control" type="text" placeholder="Alec" required="required">
                </div>
              </div>
              <div class="col-6">
                <label class="form-label">Last Name</label>
                <div class="input-group">
                  <input id="lastName" name="lastName" class="form-control" type="text" placeholder="Thompson" required="required">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-6">
                <label class="form-label mt-4">I'm</label>
                <select class="form-control" name="choices-gender" id="choices-gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-5 col-5">
                    <label class="form-label mt-4">Birth Date</label>
                    <select class="form-control" name="choices-month" id="choices-month"></select>
                  </div>
                  <div class="col-sm-4 col-3">
                    <label class="form-label mt-4">&nbsp;</label>
                    <select class="form-control" name="choices-day" id="choices-day"></select>
                  </div>
                  <div class="col-sm-3 col-4">
                    <label class="form-label mt-4">&nbsp;</label>
                    <select class="form-control" name="choices-year" id="choices-year"></select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label class="form-label mt-4">Email</label>
                <div class="input-group">
                  <input id="email" name="email" class="form-control" type="email" placeholder="example@email.com">
                </div>
              </div>
              <div class="col-6">
                <label class="form-label mt-4">Confirmation Email</label>
                <div class="input-group">
                  <input id="confirmation" name="confirmation" class="form-control" type="email" placeholder="example@email.com">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <label class="form-label mt-4">Your location</label>
                <div class="input-group">
                  <input id="location" name="location" class="form-control" type="text" placeholder="Sydney, A">
                </div>
              </div>
              <div class="col-6">
                <label class="form-label mt-4">Phone Number</label>
                <div class="input-group">
                  <input id="phone" name="phone" class="form-control" type="number" placeholder="+40 735 631 620">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 align-self-center">
                <label class="form-label mt-4">Language</label>
                <select class="form-control" name="choices-language" id="choices-language">
                  <option value="English">English</option>
                  <option value="French">French</option>
                  <option value="Spanish">Spanish</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label mt-4">Skills</label>
                <input class="form-control" id="choices-skills" type="text" value="vuejs, angular, react" placeholder="Enter something" />
              </div>
            </div>
          </div>
        </div>
        <!-- Card Change Password -->
        <div class="card mt-4" id="password">
          <div class="card-header">
            <h5>Change Password</h5>
          </div>
          <div class="card-body pt-0">
            <label class="form-label">Current password</label>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Current password">
            </div>
            <label class="form-label">New password</label>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="New password">
            </div>
            <label class="form-label">Confirm new password</label>
            <div class="form-group">
              <input class="form-control" type="password" placeholder="Confirm password">
            </div>
            <h5 class="mt-5">Password requirements</h5>
            <p class="text-muted mb-2">
              Please follow this guide for a strong password:
            </p>
            <ul class="text-muted ps-4 mb-0 float-start">
              <li>
                <span class="text-sm">One special characters</span>
              </li>
              <li>
                <span class="text-sm">Min 6 characters</span>
              </li>
              <li>
                <span class="text-sm">One number (2 are recommended)</span>
              </li>
              <li>
                <span class="text-sm">Change it often</span>
              </li>
            </ul>
            <button class="btn bg-gradient-dark btn-sm float-end mt-6 mb-0">Update password</button>
          </div>
        </div>
        <!-- Card Change Password -->
        
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
